<% include layout/header.html %>

<div class="cont998" id="shaixuan-wrapper">
    <a class="shaixuan settings-text_color">筛选<i class="iconfont" id="shaixuan-i"><span class="arrow-up"></span><span class="arrow-down"></span></i></a>
    <ul class="products_filter settings-body_background settings-main_border">
        
        
            <li class="products_filter-li settings-main_border">
                <div class="products-filter-li-title settings-proTitle_color">品牌：</div>
                <div class="products-filter-li-div">
                    
                        <a class="settings-text_color products_filter-li-item settings-main_border" href="/products?size=10&amp;ve=999">999</a>
                    
                        <a class="settings-text_color products_filter-li-item settings-main_border" href="/products?size=10&amp;ve=%E8%B4%B5%E5%B7%9E%E7%99%BE%E7%81%B5">贵州百灵</a>
                    
                        <a class="settings-text_color products_filter-li-item settings-main_border" href="/products?size=10&amp;ve=%E4%B8%9C%E9%98%BF%E9%98%BF%E8%83%B6">东阿阿胶</a>
                    
                        <a class="settings-text_color products_filter-li-item settings-main_border" href="/products?size=10&amp;ve=%E5%90%8C%E4%B8%80%E5%A0%82">同一堂</a>
                    
                        <a class="settings-text_color products_filter-li-item settings-main_border" href="/products?size=10&amp;ve=%E5%A4%A9%E8%8D%89">天草</a>
                    
                        <a class="settings-text_color products_filter-li-item settings-main_border" href="/products?size=10&amp;ve=%E4%B9%9D%E6%96%B0">九新</a>
                    
                        <a class="settings-text_color products_filter-li-item settings-main_border" href="/products?size=10&amp;ve=%E8%BE%BE%E5%96%9C">达喜</a>
                    
                        <a class="settings-text_color products_filter-li-item settings-main_border" href="/products?size=10&amp;ve=%E4%BA%91%E5%8D%97%E7%99%BD%E8%8D%AF">云南白药</a>
                    
                </div>
            </li>
        
        
            <li class="products_filter-li settings-main_border">
                <div class="products-filter-li-title settings-proTitle_color">类别：</div>
                <div class="products-filter-li-div">
                    
                        <a class="settings-text_color products_filter-li-item settings-main_border" href="/products?size=10&amp;ty=%E6%BB%8B%E8%A1%A5%E8%B0%83%E5%85%BB">滋补调养</a>
                    
                        <a class="settings-text_color products_filter-li-item settings-main_border" href="/products?size=10&amp;ty=%E8%A1%A5%E9%92%99">补钙</a>
                    
                        <a class="settings-text_color products_filter-li-item settings-main_border" href="/products?size=10&amp;ty=%E6%84%9F%E5%86%92%E8%8D%AF">感冒药</a>
                    
                        <a class="settings-text_color products_filter-li-item settings-main_border" href="/products?size=10&amp;ty=%E8%83%83%E8%8D%AF">胃药</a>
                    
                </div>
            </li>
        
        
    </ul>
</div>

<div class="cont198" id="filter-wapper">
    <div class="filter settings-text_color settings-pro_filter_background">
        <a class="filter-title settings-text_color" id="filter-title" href="javascript:void(0);">排列方式<span>：</span><i class="iconfont" id="filter-title-i"><span class="arrow-up"></span><span class="arrow-down"></span></i></a>
        <div class="m-filter-w" id="m-filter-w">
            <a href="/products?size=10&amp;so=sale_desc" class=" settings-main_border settings-desc_color ">销量</a>
            <a class="filter-item"><label class="settings-desc_color prolist-spfilter_item" onclick="window.location.href='/products?size=10&amp;ex=1'"><input class="prolist-spfilter-ipt" type="checkbox"><i class="only-show-onsell">仅显示有货&nbsp;</i></label></a>
            <a href="/products?size=10&amp;so=date_desc" class="filter-item  settings-desc_color ">上架时间</a>
            
                
                    <a class="pc-filter-price filter-item settings-desc_color" href="/products?size=10&amp;so=price_desc">价格↓</a>
                
            
            <a class="m-filter-price filter-item  settings-desc_color " href="/products?size=10&amp;so=price_asc">价格由低到高</a>
            <a class="m-filter-price filter-item  settings-desc_color " href="/products?size=10&amp;so=price_desc">价格由高到低</a>
        </div>
        <span class="filter-totle">共13件商品</span>
        <div class="clearfix"></div>
    </div>
</div>

<div class="wrapper wrapper-proList">
  <div class="">
    <div class="proList">
        
          <ul class="progrid-count-5 progrid-ul  lazyload_scope">
            
              

<li>
    <div class="proList-grid-wrapper">
        <a class="proList-grid settings-pro_background" href="/products/p000014" title="惠氏 钙尔奇碳酸钙D3片100片" target="_blank">
            <img class="  settings-proPic_border" src="http://asset.ibanquan.com/image/58b810ec0dd76c014b00205f/s_w330h330.png?v=1488457964" data-src="//asset.ibanquan.com/image/58b810ec0dd76c014b00205f/s_w330h330.png?v=1488457964" alt="惠氏 钙尔奇碳酸钙D3片100片">
        </a>
        <div class="progrid-desc">
            <a class="progrid-name settings-proTitle_color">惠氏 钙尔奇碳酸钙D3片100片</a>
            <span class="progrid-price settings-price_color">￥75.00</span>
            
            <a class="progrid-desc_hover settings-button_desc_color" href="/products/p000014" title="惠氏 钙尔奇碳酸钙D3片100片" target="_blank">查看详情</a>
        </div>
    </div>
</li>
            
              

<li>
    <div class="proList-grid-wrapper">
        <a class="proList-grid settings-pro_background" href="/products/p000013" title="60粒 来益牌天然维生素E软胶囊" target="_blank">
            <img class="  settings-proPic_border" src="http://asset.ibanquan.com/image/58b81094b1b95773fd0021fc/s_w330h330.png?v=1488457876" data-src="//asset.ibanquan.com/image/58b81094b1b95773fd0021fc/s_w330h330.png?v=1488457876" alt="60粒 来益牌天然维生素E软胶囊">
        </a>
        <div class="progrid-desc">
            <a class="progrid-name settings-proTitle_color">60粒 来益牌天然维生素E软胶囊</a>
            <span class="progrid-price settings-price_color">￥35.00</span>
            
            <a class="progrid-desc_hover settings-button_desc_color" href="/products/p000013" title="60粒 来益牌天然维生素E软胶囊" target="_blank">查看详情</a>
        </div>
    </div>
</li>
            
              

<li>
    <div class="proList-grid-wrapper">
        <a class="proList-grid settings-pro_background" href="/products/p000012" title="3盒装】同仁堂益母草颗粒8袋" target="_blank">
            <img class="  settings-proPic_border" src="http://asset.ibanquan.com/image/58b810043f8f906ad9001ee0/s_w330h330.png?v=1488457732" data-src="//asset.ibanquan.com/image/58b810043f8f906ad9001ee0/s_w330h330.png?v=1488457732" alt="3盒装】同仁堂益母草颗粒8袋">
        </a>
        <div class="progrid-desc">
            <a class="progrid-name settings-proTitle_color">3盒装】同仁堂益母草颗粒8袋</a>
            <span class="progrid-price settings-price_color">￥42.00</span>
            
            <a class="progrid-desc_hover settings-button_desc_color" href="/products/p000012" title="3盒装】同仁堂益母草颗粒8袋" target="_blank">查看详情</a>
        </div>
    </div>
</li>
            
              

<li>
    <div class="proList-grid-wrapper">
        <a class="proList-grid settings-pro_background" href="/products/p000011" title="6盒1个疗程】云南白药脑心舒口服液9支" target="_blank">
            <img class="  settings-proPic_border" src="http://asset.ibanquan.com/image/58b80f640dd76c01470021b6/s_w330h330.png?v=1488457573" data-src="//asset.ibanquan.com/image/58b80f640dd76c01470021b6/s_w330h330.png?v=1488457573" alt="6盒1个疗程】云南白药脑心舒口服液9支">
        </a>
        <div class="progrid-desc">
            <a class="progrid-name settings-proTitle_color">6盒1个疗程】云南白药脑心舒口服液9支</a>
            <span class="progrid-price settings-price_color">￥88.00</span>
            
            <a class="progrid-desc_hover settings-button_desc_color" href="/products/p000011" title="6盒1个疗程】云南白药脑心舒口服液9支" target="_blank">查看详情</a>
        </div>
    </div>
</li>
            
              

<li>
    <div class="proList-grid-wrapper">
        <a class="proList-grid settings-pro_background" href="/products/p000010" title="达喜铝碳酸镁片20片" target="_blank">
            <img class="  settings-proPic_border" src="http://asset.ibanquan.com/image/58b80ec73f8f906add0025f2/s_w330h330.png?v=1488457415" data-src="//asset.ibanquan.com/image/58b80ec73f8f906add0025f2/s_w330h330.png?v=1488457415" alt="达喜铝碳酸镁片20片">
        </a>
        <div class="progrid-desc">
            <a class="progrid-name settings-proTitle_color">达喜铝碳酸镁片20片</a>
            <span class="progrid-price settings-price_color">￥22.00</span>
            
            <a class="progrid-desc_hover settings-button_desc_color" href="/products/p000010" title="达喜铝碳酸镁片20片" target="_blank">查看详情</a>
        </div>
    </div>
</li>
            
              

<li>
    <div class="proList-grid-wrapper">
        <a class="proList-grid settings-pro_background" href="/products/p000009" title="久欣小青龙颗粒13g*6袋/盒" target="_blank">
            <img class="  settings-proPic_border" src="http://asset.ibanquan.com/image/58b80d220dd76c014b002057/s_w330h330.png?v=1488456994" data-src="//asset.ibanquan.com/image/58b80d220dd76c014b002057/s_w330h330.png?v=1488456994" alt="久欣小青龙颗粒13g*6袋/盒">
        </a>
        <div class="progrid-desc">
            <a class="progrid-name settings-proTitle_color">久欣小青龙颗粒13g*6袋/盒</a>
            <span class="progrid-price settings-price_color">￥10.00</span>
            
            <a class="progrid-desc_hover settings-button_desc_color" href="/products/p000009" title="久欣小青龙颗粒13g*6袋/盒" target="_blank">查看详情</a>
        </div>
    </div>
</li>
            
              

<li>
    <div class="proList-grid-wrapper">
        <a class="proList-grid settings-pro_background" href="/products/p000008" title="2盒装+好礼】天草丹参保心茶180袋" target="_blank">
            <img class="  settings-proPic_border" src="http://asset.ibanquan.com/image/58b80cc09bedc403f1000811/s_w330h330.png?v=1488456896" data-src="//asset.ibanquan.com/image/58b80cc09bedc403f1000811/s_w330h330.png?v=1488456896" alt="2盒装+好礼】天草丹参保心茶180袋">
        </a>
        <div class="progrid-desc">
            <a class="progrid-name settings-proTitle_color">2盒装+好礼】天草丹参保心茶180袋</a>
            <span class="progrid-price settings-price_color">￥1120.00</span>
            
            <a class="progrid-desc_hover settings-button_desc_color" href="/products/p000008" title="2盒装+好礼】天草丹参保心茶180袋" target="_blank">查看详情</a>
        </div>
    </div>
</li>
            
              

<li>
    <div class="proList-grid-wrapper">
        <a class="proList-grid settings-pro_background" href="/products/p000007" title="贵州 百灵鸟维C银翘片24片" target="_blank">
            <img class="  settings-proPic_border" src="http://asset.ibanquan.com/image/58b80c59b1b95773fd0021eb/s_w330h330.png?v=1488456793" data-src="//asset.ibanquan.com/image/58b80c59b1b95773fd0021eb/s_w330h330.png?v=1488456793" alt="贵州 百灵鸟维C银翘片24片">
        </a>
        <div class="progrid-desc">
            <a class="progrid-name settings-proTitle_color">贵州 百灵鸟维C银翘片24片</a>
            <span class="progrid-price settings-price_color">￥20.00</span>
            
            <a class="progrid-desc_hover settings-button_desc_color" href="/products/p000007" title="贵州 百灵鸟维C银翘片24片" target="_blank">查看详情</a>
        </div>
    </div>
</li>
            
              

<li>
    <div class="proList-grid-wrapper">
        <a class="proList-grid settings-pro_background" href="/products/p000006" title="三九999感冒灵颗粒9袋" target="_blank">
            <img class="  settings-proPic_border" src="http://asset.ibanquan.com/image/58b80bc49bedc403f10007d0/s_w330h330.png?v=1488456644" data-src="//asset.ibanquan.com/image/58b80bc49bedc403f10007d0/s_w330h330.png?v=1488456644" alt="三九999感冒灵颗粒9袋">
        </a>
        <div class="progrid-desc">
            <a class="progrid-name settings-proTitle_color">三九999感冒灵颗粒9袋</a>
            <span class="progrid-price settings-price_color">￥51.00</span>
            
            <a class="progrid-desc_hover settings-button_desc_color" href="/products/p000006" title="三九999感冒灵颗粒9袋" target="_blank">查看详情</a>
        </div>
    </div>
</li>
            
              

<li>
    <div class="proList-grid-wrapper">
        <a class="proList-grid settings-pro_background" href="/products/p000005" title="同溢堂益安宁丸3瓶" target="_blank">
            <img class="  settings-proPic_border" src="http://asset.ibanquan.com/image/58b80b5b3f8f906ad9001ec0/s_w330h330.png?v=1488456539" data-src="//asset.ibanquan.com/image/58b80b5b3f8f906ad9001ec0/s_w330h330.png?v=1488456539" alt="同溢堂益安宁丸3瓶">
        </a>
        <div class="progrid-desc">
            <a class="progrid-name settings-proTitle_color">同溢堂益安宁丸3瓶</a>
            <span class="progrid-price settings-price_color">￥790.00</span>
            
            <a class="progrid-desc_hover settings-button_desc_color" href="/products/p000005" title="同溢堂益安宁丸3瓶" target="_blank">查看详情</a>
        </div>
    </div>
</li>
            
          </ul>
        
    </div>
  </div>
</div>


<div class="cont198">
    


    <div id="pagination" class="pagination">
        <div id="pagination-item">
            
                <a class="settings-text_color pagination-item_link selected" href="/products?size=10&amp;page=1">1</a>
            
                <a class="settings-text_color pagination-item_link " href="/products?size=10&amp;page=2">2</a>
            
        </div>
    </div>

</div>

<% include layout/footer.html %>